[client-server]
socket=/var/lib/mysql/mysql.sock
port=4202

[client]
socket = /var/lib/mysql/mysql.sock

[Service]
Protect-Home=false

#The MySQLServer
[mysqld]
skip-networking = false
bind-address = 0.0.0.0

#MariaDB
[mariadb]
log_error=/var/lib/mysql/database.err
